[data-vvw-control='imageStory'] {
  width: 100%;
  border: 0px !important;
  outline: 0px !important;
}

.vvw-bottom-bar:has([data-vvw-control='imageStory']),
.vvw-top-bar:has([data-vvw-control='imageStory']) {
  padding: 0;
  border: 0;
}

.vvw-bottom-bar:has([data-vvw-control='imageStory']) > div,
.vvw-top-bar:has([data-vvw-control='imageStory']) > div {
  overflow: visible;

  border: 0px !important;
  outline: 0px !important;

  & > div {
    overflow: visible !important;
  }
}

.vvw-bottom-bar:has([data-vvw-control='imageStory']) .vvw-story-container {
  border-top-left-radius: var(--vvw-ui-border-radius);
  border-top-right-radius: var(--vvw-ui-border-radius);
}

.vvw-top-bar:has([data-vvw-control='imageStory']) .vvw-story-container {
  border-bottom-left-radius: var(--vvw-ui-border-radius);
  border-bottom-right-radius: var(--vvw-ui-border-radius);
}

.vvw-story {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.vvw-story-container {
  --vvw-story-height: 100vh;
  --vvw-padding-y: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  max-height: 50vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  gap: 12px;
  font-size: 14px;
  background-color: var(--vvw-ui-bg-color);
  color: var(--vvw-ui-text-color);
  outline: 1px solid var(--vvw-ui-outline-color);
  transition: height 0.3s ease;
  padding: var(--vvw-padding-y) 15px;

  &:has(.expanded) {
    height: min(calc(var(--vvw-story-height) + calc(2 * var(--vvw-padding-y))), 50vh);
  }
}

.vvw-top-bar:has([data-vvw-control='imageStory']) .vvw-story-container {
  top: 0;
  bottom: unset;
}

.vvw-story-text {
  /* white-space: nowrap;
  text-overflow: ellipsis; */
  max-height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 1; /* Number of lines to show */
  overflow: hidden;
  color: var(--vvw-ui-text-color);

  &.expanded {
    display: block;
    overflow: auto;
    max-height: calc(50vh - calc(2 * var(--vvw-padding-y)));
    /*
    white-space: normal;
    text-overflow: unset; */
  }
}

.vvw-story-button {
  flex: 0 0 auto;
  transform: rotate(0deg);
  transform-origin: center;
  border: none;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  background-color: transparent;
  color: var(--vvw-ui-text-color);

  svg {
    color: var(--vvw-ui-text-color);
  }

  &:hover {
    opacity: 1;
  }

  &.expanded {
    transform: rotate(180deg);
  }
}

.vvw-top-bar:has([data-vvw-control='imageStory']) .vvw-story-button {
  transform: rotate(180deg);

  &.expanded {
    transform: rotate(0deg);
  }
}
