.hero-content-box {
  border-radius: 0.5rem;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}
.image-grid a {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  display: block;
}
.img-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
.img-2 {
  grid-column: 3;
  grid-row: 1;
}
.img-3 {
  grid-column: 1;
  grid-row: 2;
}
.img-4 {
  grid-column: 2 / 4;
  grid-row: 2;
}
