.vvw-ui {
  box-shadow: 0 0 8px rgba(255, 87, 34, 0.4);

  & > button {
    box-shadow: 0 0 8px rgba(255, 87, 34, 0.4);

    svg {
      filter: drop-shadow(0 0 2px #ff5722);
    }

    &:hover {
      box-shadow: 0 0 12px rgba(255, 87, 34, 0.6);
    }

    &:active {
      box-shadow: 0 0 12px rgba(255, 87, 34, 0.6);
    }
  }

  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 333ms ease,
        padding-right 333ms ease;

      svg {
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

:root {
  --vvw-bg-color: #0d0300;
  --vvw-text-color: #ffccbc;
  --vvw-ui-outline-color: #d84315;
  --vvw-ui-bg-color: #1a0a00;
  --vvw-ui-text-color: #ffccbc;
  --vvw-ui-hover-bg-color: #2d1400;
  --vvw-ui-active-bg-color: #401f00;
  --vvw-ui-border-radius: 6px;
}
