.vvw-ui {
  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 200ms linear,
        padding-right 200ms linear;

      svg {
        transition: transform 200ms linear;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

:root {
  --vvw-bg-color: #000;
  --vvw-text-color: #fff;
  --vvw-ui-outline-color: #222;
  --vvw-ui-bg-color: #000;
  --vvw-ui-text-color: #fff;
  --vvw-ui-hover-bg-color: #1a1a1a;
  --vvw-ui-active-bg-color: #333;
  --vvw-ui-border-radius: 0;
}
