.vvw-ui {
  &:is(button),
  & > button {
    background-color: #222;
    color: #eee;
  }
  &.vvw-index,
  &.vvw-desc {
    background-color: #222;
    color: #eee;
  }
}

.vvw-bottom-bar {
  & > div:first-child {
    button:last-child,
    div:last-child {
      border-top-right-radius: 5px;
    }
  }

  & > div:nth-child(2) {
    padding: 0 1rem;

    button:last-child,
    div:last-child {
      border-top-right-radius: 5px;
    }

    button:first-child,
    div:first-child {
      border-top-left-radius: 5px;
    }
  }

  & > div:last-child {
    button:first-child,
    div:first-child {
      border-top-left-radius: 5px;
    }
  }
}

.vvw-top-bar {
  & > div:first-child {
    button:last-child,
    div:last-child {
      border-bottom-right-radius: 5px;
    }
  }

  & > div:nth-child(2) {
    padding: 0 1rem;

    button:last-child,
    div:last-child {
      border-bottom-right-radius: 5px;
    }

    button:first-child,
    div:first-child {
      border-bottom-left-radius: 5px;
    }
  }

  & > div:last-child {
    button:first-child,
    div:first-child {
      border-bottom-left-radius: 5px;
    }
  }
}

.vvw-ui {
  outline: 2px solid #333;

  &:is(button) {
    outline: 2px solid #333;

    svg {
      width: 21px;
      height: 21px;
    }
  }

  &.vvw-prev {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    button {
      padding: 18px 3px;
      transition: padding-left 333ms ease;

      svg {
        position: relative;
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover {
      button {
        padding-left: 8px;
        svg {
          transform: translateX(-3px);
        }
      }
    }

    &:active {
      button {
        svg {
          left: -2px;
        }
      }
    }
  }

  &.vvw-next {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    button {
      padding: 18px 3px;
      transition: padding-right 333ms ease;
      svg {
        position: relative;
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover {
      button {
        padding-right: 8px;
        svg {
          transform: translateX(3px);
        }
      }
    }

    &:active {
      button {
        svg {
          left: 2px;
        }
      }
    }
  }
}
