.vvw-ui {
  outline: 2px solid #d84315;
  box-shadow: 0 0 8px rgba(255, 87, 34, 0.4);

  &:is(button),
  & > button,
  &.vvw-index,
  &.vvw-desc {
    background-color: #1a0a00;
    color: #ffccbc;
    border: 1px solid #ff5722;
  }

  &:is(button) {
    outline: 2px solid #d84315;
    box-shadow: 0 0 8px rgba(255, 87, 34, 0.4);

    svg {
      width: 21px;
      height: 21px;
      filter: drop-shadow(0 0 2px #ff5722);
    }

    &:hover {
      background-color: #2d1400;
      box-shadow: 0 0 12px rgba(255, 87, 34, 0.6);
    }
  }

  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 333ms ease,
        padding-right 333ms ease;

      svg {
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

.vvw-bottom-bar,
.vvw-top-bar {
  & > div:nth-child(2) {
    padding: 0 1rem;
  }
}

.vvw-bottom-bar {
  & > div:first-child :is(button, div):last-child,
  & > div:nth-child(2) :is(button, div):last-child {
    border-top-right-radius: 6px;
  }

  & > div:nth-child(2) :is(button, div):first-child,
  & > div:last-child :is(button, div):first-child {
    border-top-left-radius: 6px;
  }
}

.vvw-top-bar {
  & > div:first-child :is(button, div):last-child,
  & > div:nth-child(2) :is(button, div):last-child {
    border-bottom-right-radius: 6px;
  }

  & > div:nth-child(2) :is(button, div):first-child,
  & > div:last-child :is(button, div):first-child {
    border-bottom-left-radius: 6px;
  }
}

:root {
  --vvw-bg-color: #0d0300;
  --vvw-text-color: #ffccbc;
}
