.vvw-ui {
  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 333ms ease,
        padding-right 333ms ease;

      svg {
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

:root {
  --vvw-bg-color: #0d1a0d;
  --vvw-text-color: #d4e8d4;
  --vvw-ui-outline-color: #3d5a3d;
  --vvw-ui-bg-color: #4a6741;
  --vvw-ui-text-color: #d4e8d4;
  --vvw-ui-hover-bg-color: #5a7a52;
  --vvw-ui-active-bg-color: #6a8d63;
  --vvw-ui-border-radius: 7px;
}
