.vvw-ui {
  outline: 2px solid #222;

  &:is(button),
  & > button,
  &.vvw-index,
  &.vvw-desc {
    background-color: #000;
    color: #fff;
  }

  &:is(button) {
    outline: 2px solid #222;

    svg {
      width: 21px;
      height: 21px;
    }

    &:hover {
      background-color: #1a1a1a;
    }
  }

  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 200ms linear,
        padding-right 200ms linear;

      svg {
        transition: transform 200ms linear;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    border-radius: 0;

    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    border-radius: 0;

    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

.vvw-bottom-bar,
.vvw-top-bar {
  & > div:nth-child(2) {
    padding: 0 1rem;
  }
}

.vvw-bottom-bar {
  & > div:first-child :is(button, div):last-child,
  & > div:nth-child(2) :is(button, div):last-child {
    border-radius: 0;
  }

  & > div:nth-child(2) :is(button, div):first-child,
  & > div:last-child :is(button, div):first-child {
    border-radius: 0;
  }
}

.vvw-top-bar {
  & > div:first-child :is(button, div):last-child,
  & > div:nth-child(2) :is(button, div):last-child {
    border-radius: 0;
  }

  & > div:nth-child(2) :is(button, div):first-child,
  & > div:last-child :is(button, div):first-child {
    border-radius: 0;
  }
}

:root {
  --vvw-bg-color: #000;
  --vvw-text-color: #fff;
}
