.vvw-ui {
  &.vvw-prev,
  &.vvw-next {
    overflow: hidden;

    button {
      padding: 18px 3px;
      transition:
        padding-left 333ms ease,
        padding-right 333ms ease;

      svg {
        transition: transform 333ms 111ms ease;
      }
    }

    &:hover button svg {
      transform: translateX(-3px);
    }
  }

  &.vvw-prev {
    border-top-right-radius: var(--vvw-ui-border-radius);
    border-bottom-right-radius: var(--vvw-ui-border-radius);

    &:hover button {
      padding-left: 8px;
    }
  }

  &.vvw-next {
    border-top-left-radius: var(--vvw-ui-border-radius);
    border-bottom-left-radius: var(--vvw-ui-border-radius);

    &:hover button {
      padding-right: 8px;

      svg {
        transform: translateX(3px);
      }
    }
  }
}

.vvw-bottom-bar {
  & > div:first-child > div:last-child,
  & > div:nth-child(2) > div:last-child {
    border-top-right-radius: var(--vvw-ui-border-radius);
    overflow: hidden;
  }

  & > div:nth-child(2) > div:first-child,
  & > div:last-child > div:first-child {
    border-top-left-radius: var(--vvw-ui-border-radius);
    overflow: hidden;
  }
}

.vvw-top-bar {
  & > div:first-child > div:last-child,
  & > div:nth-child(2) > div:last-child {
    border-bottom-right-radius: var(--vvw-ui-border-radius);
    overflow: hidden;
  }

  & > div:nth-child(2) > div:first-child,
  & > div:last-child > div:first-child {
    border-bottom-left-radius: var(--vvw-ui-border-radius);
    overflow: hidden;
  }
}

:root {
  --vvw-bg-color: #1a0006;
  --vvw-text-color: #fff5f7;
  --vvw-ui-outline-color: #c41e3a;
  --vvw-ui-bg-color: #d63447;
  --vvw-ui-text-color: #fff5f7;
  --vvw-ui-hover-bg-color: #e84a5f;
  --vvw-ui-active-bg-color: #fa6077;
  --vvw-ui-border-radius: 12px;
}
