html {
  color-scheme: unset !important;
}

/* Match content-panel horizontal padding with header */
.content-panel {
  padding-inline: var(--sl-nav-pad-x) !important;
}

header > div {
  max-width: var(--sl-content-width);
  margin: 0 auto;
}
