:root{

  --vistaview-bg-color: #000000;
  --vistaview-text-color: #ffffff;
  --vistaview-border-radius: 8px;
  --vistaview-background-blur: 10px;
  --vistaview-background-opacity: 0.8;

  --vistaview-initial-z-index: 1;
  --vistaview-destination-z-index: 2147483647;
  --vistaview-animation-duration: 333;
  --vistaview-center-x: 50%;
  --vistaview-center-y: 50%;

  /* calculated */
  --vistaview-container-initial-width: 0;
  --vistaview-container-initial-height: 0;
  --vistaview-container-initial-top: 0;
  --vistaview-container-initial-left: 0;
  --vistaview-image-border-radius: 0px;
  --vistaview-current-index: 0;
  --vistaview-number-elements: 0;

}

@keyframes vistaview-pos-in {
  0% {
    top: var(--vistaview-container-initial-top);
    left: var(--vistaview-container-initial-left);
  }
  100%{
    top: var(--vistaview-center-y);
    left: var(--vistaview-center-x);
  }
}

@keyframes vistaview-pos-out {
  0% {
    top: var(--vistaview-center-y);
    left: var(--vistaview-center-x);
  }
  100%{
    top: var(--vistaview-container-initial-top);
    left: var(--vistaview-container-initial-left);
  }
}

@keyframes vistaview-anim-in {
  0% {
    width: var(--vistaview-container-initial-width);
    height: var(--vistaview-container-initial-height);
    background: rgb(from var(--vistaview-bg-color) r g b / 0);
    backdrop-filter: blur(0px);
    border-radius: var(--vistaview-image-border-radius);
    z-index: var(--vistaview-initial-z-index);
  }
  50% {
    width: var(--vistaview-container-initial-width);
    height: var(--vistaview-container-initial-height);
    background: rgb(from var(--vistaview-bg-color) r g b / 0);
    backdrop-filter: blur(0px);
    border-radius: 0px;
    z-index: var(--vistaview-initial-z-index);
  }
  100%{
    z-index: var(--vistaview-destination-z-index);
    width: 100%;
    height: 100%;
    background: rgb(from var(--vistaview-bg-color) r g b / var(--vistaview-background-opacity));
    backdrop-filter: blur(var(--vistaview-background-blur));
  }
}

@keyframes vistaview-anim-out {
  0% {
    z-index: var(--vistaview-destination-z-index);
    width: 100%;
    height: 100%;
    background: rgb(from var(--vistaview-bg-color) r g b / var(--vistaview-background-opacity));
    backdrop-filter: blur(var(--vistaview-background-blur));
  }
  50% {
    width: var(--vistaview-container-initial-width);
    height: var(--vistaview-container-initial-height);
    background: rgb(from var(--vistaview-bg-color) r g b / 0);
    backdrop-filter: blur(0px);
    border-radius: 0px;
    z-index: var(--vistaview-initial-z-index);
  }
  100%{
    width: var(--vistaview-container-initial-width);
    height: var(--vistaview-container-initial-height);
    background: rgb(from var(--vistaview-bg-color) r g b / 0);
    backdrop-filter: blur(0px);
    border-radius: var(--vistaview-image-border-radius);
    z-index: var(--vistaview-initial-z-index);
  }
}

@keyframes vistaview-ui-anim-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes vistaview-ui-anim-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* .vistaview-root > * {
  display: none;
} */

.vistaview-root {

  .vistaview-ui{
    opacity: 0;
  }

  .vistaview-container {
    width: 100%;
    height: 100%;
    position: relative;

    button{
      // normalize button styles
      all: unset;
      box-sizing: border-box;
      margin: 0;
      padding: 8px;
      border: none;
      border-radius: 0px;
      cursor: pointer;
      background-color: var(--vistaview-bg-color);
      color: var(--vistaview-text-color);

      &:disabled{
        color: rgb(from var(--vistaview-text-color) r g b / 0.5);
        cursor: not-allowed;
      }

      &:hover{
        background-color: hsl(from var(--vistaview-bg-color) h s calc(l + 20));
      }

      &:active{
        background-color: hsl(from var(--vistaview-bg-color) h s calc(l + 40));
      }
    }

    .vistaview-image-container {
      width: calc(var(--vistaview-number-elements) * 100%); 
      height: 100%;
      overflow-x: hidden;
      z-index: 1;
      position: absolute;
      top: 0;
      left: calc(var(--vistaview-current-index) * -100%);

      display: flex;
      gap: 0;

      .vistaview-item {
        width: calc(100 / var(--vistaview-number-elements) * 1%);
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        flex-shrink: 0; /* Prevent flex items from shrinking */
        position: relative;
        /* overflow: hidden; */

        img.vistaview-image-lowres{
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          max-width: 100%;
          max-height: 100%;

          &.vistaview-image--hidden{
            opacity: 0;
          }
        }

        img.vistaview-image-highres{
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          object-fit: cover;
          opacity: 0;
          transition: width 0.3s ease 0.3s, height 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
          max-width: 100%;
          max-height: 100%;

          &.vistaview-image--zooming{
            transition: width 0.3s ease 0s, height 0.3s ease 0s, opacity 0.3s ease 0s;
            max-width: unset;
            max-height: unset;
          }

          &.vistaview-image-loaded{
            opacity: 1;
          }
        }
      }
    }

    .vistaview-prev-btn{
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    .vistaview-next-btn{
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    .vistaview-top-bar, .vistaview-bottom-bar{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 2;

      .vistaview-index-display{
        font-size: 16px;
        padding: 8px;
        background-color: var(--vistaview-bg-color);
        color: var(--vistaview-text-color);
      }

      .vistaview-tools{
        display: flex;
      }
    }

    .vistaview-bottom-bar{
      bottom: 0px;
      top: unset;
    }


  }
}

.vistaview-root{
  position: fixed;
  display: none;
  isolation: isolate;
  translate: -50% -50%;
  overflow: hidden;
}

/* 
vistaview is initialized, with initial position and size
 */
.vistaview-root.vistaview--initialized{
  display: block;
  animation: vistaview-anim-in calc(var(--vistaview-animation-duration) * 1ms) ease-out forwards,
             vistaview-pos-in calc(var(--vistaview-animation-duration) * 0.6ms) ease-in forwards;
  .vistaview-ui{
    animation: vistaview-ui-anim-in calc(var(--vistaview-animation-duration) * 1ms) ease-out calc(var(--vistaview-animation-duration) * 1ms) forwards;
  }
}

.vistaview-root.vistaview--closing{
  .vistaview-ui{
    display: none;
  }
  animation: vistaview-anim-out calc(var(--vistaview-animation-duration) * 1ms) ease-out forwards,
             vistaview-pos-out calc(var(--vistaview-animation-duration) * 0.8ms) cubic-bezier(0.7, -0.4, 0.8, 0.6) forwards;

  & .vistaview-container {
    & .vistaview-image-container {
      & .vistaview-item {

        & img.vistaview-image-lowres{
          &.vistaview-image--hidden{
            opacity: 1;
          }
        }

        & img.vistaview-image-highres {
          &.vistaview-image-loaded {
            transition: width 0.3s ease 0, height 0.3s ease 0, opacity 0.3s ease 0;
            opacity: 0;
          }
        }
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .vistaview--reduced-motion, .vistaview--reduced-motion * {
    animation-name: none !important;
    animation-duration: 0ms;
    transition-duration: 0ms !important;
  }
}