---
import CreateGalleryExample from './CreateGalleryExample.astro';
---


<section class="create-gallery-section">
	<div>

		<h2>Build your own gallery</h2>
		<p>
			VistaView empowers you to build your own image galleries with complete control over the design and functionality. 
			It detects rounded corners, and <code>object-fit: contain</code> or <code>object-fit: cover</code>.
		</p>
		<p>It also displays your alt attribute as a caption for each image, with the option to override it using a custom attribute (see the "A Calm lake" example).</p>
	</div>
	<div>
		<CreateGalleryExample />
	</div>
</section>

<style>
	.create-gallery-section {
		padding: 2rem 0;
		text-align: start;

		@media screen and (min-width: 50rem) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			
		}
	}

	.create-gallery-section h2 {
		font-size: var(--sl-text-2xl);
		margin-bottom: 1rem;
	}
</style>